<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="at.fsor.geoMap" version="1.0.0">
  <name>G(e)oMap</name>
  <description>GPS Position Tracking App</description>
  <author href="#" email="florian.soriat@gmail.com">Florian Soriat</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="orientation" value="portrait" />
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="SplashScreenDelay" value="5000" />
  <preference name="SplashScreen" value="splash" />
  <preference name="CameraUsesGeolocation" value="false" />
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait" />
  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
  </feature>
  <feature name="Camera"> 
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher"/> 
  </feature>
  <gap:splash src="res/screen/android/screen-mdpi-portrait.png" />
  <gap:plugin name="org.transistorsoft.cordova.background-geolocation" />
  <gap:plugin name="cordova-plugin-camera" />
  <plugin spec="https://github.com/apache/cordova-plugin-file.git#4.1.0" />
  <plugin name="cordova-plugin-battery-status" source="npm"/>
  <plugin name="cordova-plugin-camera" source="npm"/>
  <plugin name="Camera" value="org.apache.cordova.camera.CameraLauncher" />
  <plugin name="cordova-plugin-media-capture" source="npm"/>
  <plugin name="cordova-plugin-console" source="npm"/>
  <plugin name="cordova-plugin-contacts" source="npm"/>
  <plugin name="cordova-plugin-device" source="npm"/>
  <plugin name="cordova-plugin-device-motion" source="npm"/>
  <plugin name="cordova-plugin-device-orientation" source="npm"/>
  <plugin name="cordova-plugin-dialogs" source="npm"/>
  <plugin name="cordova-plugin-file" source="npm"/>
  <plugin name="cordova-plugin-file-transfer" source="npm"/>
  <plugin name="cordova-plugin-geolocation" source="npm"/>
  <plugin name="cordova-plugin-globalization" source="npm"/>
  <plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <plugin name="cordova-plugin-media" source="npm"/>
  <plugin name="cordova-plugin-network-information" source="npm"/>
  <plugin name="cordova-plugin-splashscreen" source="npm"/>
  <plugin name="cordova-plugin-statusbar" source="npm"/>
  <plugin name="cordova-plugin-vibration" source="npm"/>
  <plugin name="cordova-plugin-whitelist" source="npm"/>
  <icon src="res/icon/android/drawable-xhdpi-icon.png"/>
  <splash src="res/screen/android/screen-mdpi-portrait.png"/>
  <platform name="android">
    <icon src="res/icon/android/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="res/icon/android/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="res/icon/android/screen-hdpi-portrait.png" density="hdpi"/>
    <icon src="res/icon/android/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="res/icon/android/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="res/icon/android/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
    <splash src="res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
    <splash src="res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
    <splash src="res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
  </platform>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
</widget>