/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body{
    height:100%;
    width:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-image: url("../img/mapBg.JPG");
    background-size: auto 100%;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-position: left top;
    background-color: #cccccc;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width:100%;
    height:100%;
}
.appInner {
    position: absolute;
    height: 160px;
    width: 225px;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#sidebar{
    position: fixed; 
    display: inline-block; 
    top: 0px; 
    height: 100%; 
    width: 100%; 
    background-color: #333; 
    transition: all 0.5s ease-in-out;
}


.trackOptsStart input[type="text"] {
    width: 80%;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.trackOptsStart button, .trackOptsRunning button, .trackOptsFinished button, #submit_login{
    width: 50%;
    margin-top: 20px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: blue;
    padding: 5px;
    color: white;
    cursor:pointer;
}


#startTracking, #submit_login{
    border: 2px solid #546F25;
    background-color: #546F25;
}

#stopTracking{
    border: 2px solid #7b3b01;
    background-color: #7b3b01;   
}

#resumeTracking{
    border: 2px solid #546F25;
    background-color: #546F25;  
}

#pauseTracking{
    border: 2px solid #DF7514;
    background-color: #DF7514;  
}

#uploadTrack{
    border: 2px solid #DF7514;
    background-color: #DF7514; 
}

#deleteTrack{
    border: 2px solid #7b3b01;
    background-color: #7b3b01;  
}

#menu-toggle{
    z-index: 100;
    position: absolute;
    right:0;
}

.mobileMenu{
    width: 70px;
    height: 65px;
    z-index:10;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    cursor: pointer;
    left:-1px;
    top:0;
}

.mobileMenu span{
    display: block;
    position: absolute;
    height: 9px;
    width: 80%;
    background: #546f25;
    border-radius: 9px;
    opacity: 1;
    left: 10%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}


.mobileMenu.closed span{
    background: #546f25;
}


.mobileMenu.closed:hover span {
    background: #546f25;
}

.mobileMenu:not(.closed) span {
    background: #546f25;
}

.mobileMenu:not(.closed):hover span {
    background: #546f25;
}
/* Icon 3 */



.mobileMenu span:nth-child(1) {
    top: 10px;
}

.mobileMenu span:nth-child(2),.mobileMenu span:nth-child(3) {
    top: 28px;
}

.mobileMenu span:nth-child(4) {
    top: 46px;
}

.mobileMenu.closed span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.mobileMenu.closed span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobileMenu.closed span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobileMenu.closed span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hidden{
    display:none;
}

#logout{
    cursor: pointer;
    color:#ccc;
    text-decoration: underline;
}

.errormess{
    color:red;
}
#sidebar{
    color:#fff;
    padding:10px;
}
#sidebar input[type=number]{
    width:15%;
}

#sidebar, .innerSidebar {
    display: block;
}

#sidebar {
    /* specify fixed width */
    width: 100%;
    padding: 0;
}

.innerSidebar {
    /* specify padding, can be changed while remaining fixed width of .outer */
    padding: 12px;
    line-height:3em;
}

.toggle{
    cursor:pointer;
}

#trackerInterval{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}

.takeImg{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}















input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #546F25;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #546F25;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #546F25;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #546F25;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #546F25;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}























/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .appInner {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:40px;
    font-weight:normal;
    margin:0px;
    margin-bottom:10px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color:#546F25;
}

h2{
    color:#7b3b01;
    font-size: 20px;
}


h1:empty, h2:empty {
    display: none;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
